[submodule "submodules/SimplexNoiseSeeded"]
	path = submodules/SimplexNoiseSeeded
	url = https://github.com/akriegman/SimplexNoise
[submodule "submodules/poisson-disk-sampling"]
	path = submodules/poisson-disk-sampling
	url = https://github.com/thinks/poisson-disk-sampling.git
